natives/

.minecraft/.fabric
.minecraft/data
.minecraft/logs
.minecraft/ModTranslations
.minecraft/irisUpdateInfo.json
.minecraft/patchouli_data.json
.minecraft/polymer-resourcepack.zip

# ignore all config files
.minecraft/config/*
# but not subdirs
!.minecraft/config/*/
# but all configs in subdirs
.minecraft/config/*/*

!.minecraft/config/bclib/*
!.minecraft/config/fancymenu
!.minecraft/config/betterf3.json
!.minecraft/config/quickshulkerconfig.json5
!.minecraft/config/ringsofascension.json
!.minecraft/config/universal-graves.json
